<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body>
    <div id='container'>
        <div class='main'>
            <h1>Snake Game</h1>
            <h2>Main Menu</h2>
            <div class='start-btn btn'>Start</div>
            <div class='option-btn btn'>Option</div>
            <div class='high-score-btn btn'>High Score</div>
        </div>
    </div>
    <script type='text/javascript' src='./js/main.js'></script>
</body>
</html>